body {background-color: beige;

}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(240, 240, 240);
}
h1 {
text-align: center;
border-style: double;
border-color: black;
border-width: 12px;
}

body{margin: 0%;

}
