body {background-color: beige; 

}
/*met deze code krijg je een achtergrond kleur op je pagina's*/
.column {      
  float: left;
  width: 33.33%;
  padding: 15px;
}
/*met deze code krijg je kolommen waar je tekst staat*/
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}
/*met deze code krijg je een balk waar je links in staan*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
/*deze code zorgt ervoor waar de balk staat en welke kleur die heeft*/
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
/*deze code zorgt ervoor dat de tekst erin zwart is*/
li a:hover {
  background-color: rgb(240, 240, 240);
}
/*deze code zrgt ervoor als je er met je cursor er over heen gaat dat het dan lichtgrijs wordt*/
h1 {
text-align: center;
border-style: double;
border-color: black;
border-width: 12px;

}
/*deze code zorgt ervoor dat je een rand krijgt om h1 wat ik gebruik voor titels op een pagina*/
body{margin: 0%;

}
h2 {
  text-align: center;
}
/*deze code gebruik ik zodat de tekst in het midden blijft dit gebruik ik voor een tussenkop titel*/
.bonanza{
  text-align: center;
}
/*deze code zorgt ervoor dat het spel in het midden zit*/

p {
  background-color: #ffffff;
}
/*deze code zorgt ervoor dat de tekst een witte achtergrondskleur krijgt*/
.footer {
  position: sticky;
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
text-align: center;
}
/*deze code zorgt ervoor dat er een voetstuk onderaan de pagina staat met wie het heeft gemaakt*/